<div class="jumbotron text-center">
    <h1>Documents</h1>
</div>

<div class="card-columns">
    <std:if condition="documents != null">
        <std:foreach var="document" in="documents">
            <div class="card m-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <html:text value="document.title"/>
                    </h5>
                    <p class="card-text">Document #
                        <html:text value="document.id"/>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Author</strong>:
                        <html:text value="document.author"/>
                    </li>
                </ul>
                <div class="card-body">
                    <a html:link="it.accept('/documents/' + document.id)" class="card-link">Edit</a>
                    <a html:link="it.accept('/review/' + document.id)" class="card-link">Review</a>
                </div>
            </div>
        </std:foreach>
    </std:if>
</div>

<p>
    <std:if condition="documents != null && documents.size() == 0">
        No documents found. Try creating one below!
    </std:if>
</p>

<form class="form-inline" event:submit="onCreateDocument()">
    <div class="form-group row mb-2 col-sm-8">
        <label for="new-document-name" class="sr-only">Document Name</label>
        <div class="col-sm-8">
            <input id="new-document-name" type="text" class="form-control" html:value="newDocumentName"
                   html:change="newDocumentName" required
                   placeholder="Document Name"/>
        </div>

        <button type="submit" class="btn btn-primary mb-2 col-sm-4">Create Document</button>
    </div>
</form>