<?use k:com.github.knoweth.client.components?>

<div class="k-pg-document">
    <std:if condition="document != null">
        <h1>Document #
            <html:text value="id"/>
            —
            <input html:change="document.title" html:value="document.title" class="k-input--no-styling">
        </h1>
        <p>
            <strong>Author</strong>:
            <html:text value="document.author"/>
        </p>

        <h2>Sharing</h2>

        <std:choose>
            <std:option when="document.sharedUsers.size() != 0">
                <p>Sharing: shared with the following users:</p>
                <ul>
                    <std:foreach var="user" in="document.sharedUsers">
                        <li>
                            <html:text value="user"/>

                            <button class="btn btn-danger float-right" title="Delete Section"
                                    event:click="unshare(user)"><i class="fas fa-trash"></i><span
                                    class="sr-only">Unshare</span></button>
                        </li>
                    </std:foreach>
                </ul>
            </std:option>
            <std:otherwise>
                <p>Sharing: private (only you can access)</p>
            </std:otherwise>
        </std:choose>

        <form class="form-inline mb-2" event:submit="addNewUser()">
            <label class="sr-only" for="addSharedUser">New User</label>
            <input class="form-control mr-2" id="addSharedUser" placeholder="New User" html:value="newUser"
                   html:change="newUser" required>

            <button type="submit" class="btn btn-primary">Share</button>
        </form>

        <h2>
            <button class="btn btn-success float-right" event:click="save()"><i class="fas fa-save"></i> Save</button>
            Notes
        </h2>

        <div class="k-edit-controls">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="k-edit-control"
                       html:change="togglePreview()">
                <label class="custom-control-label" for="k-edit-control">
                    Preview mode
                </label>
            </div>
        </div>

        <std:foreach var="section" index="sectionId" in="document.sections">
            <button class="btn btn-danger float-right" title="Delete Section"><i class="fas fa-trash"></i><span
                    class="sr-only">Delete Section</span></button>

            <h2><input html:change="section.title" html:value="section.title" class="k-input--no-styling"></h2>

            <std:foreach var="note" in="section.notes" index="noteId">
                <std:choose>
                    <std:option when="inPreview">
                        <div class="k-note">
                            <div class="k-note__front">
                                <k:markdown content="note.front"/>
                            </div>
                            <div class="k-note__back">
                                <k:markdown content="note.back"/>
                            </div>
                        </div>
                    </std:option>
                    <std:otherwise>
                        <div class="k-note">
                            <select class="k-note__select" html:value="note.type"
                                    html:change="note.setType(Integer.parseInt(it))">
                                <option value="0">Single</option>
                                <option value="1">Double</option>
                            </select>
                            <textarea class="k-note__front" html:value="note.front" html:change="note.front"
                                      placeholder="Note Front"></textarea>
                            <textarea class="k-note__back" html:value="note.back" html:change="note.back"
                                      placeholder="Note Back"></textarea>
                            <button class="btn btn-danger" event:click="removeNote(sectionId, noteId)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </std:otherwise>
                </std:choose>
            </std:foreach>

            <p>
                <button class="btn btn-primary" event:click="addNote(sectionId)"><i class="fas fa-plus"></i> Note
                </button>
            </p>
        </std:foreach>

        <p>
            <button class="btn btn-primary" event:click="addSection()"><i class="fas fa-plus"></i> Section</button>
        </p>

        <std:if condition="saveMessage != null">
            <p>
                <html:text value="saveMessage"/>
            </p>
        </std:if>
    </std:if>
</div>